<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="css/global.css" />
    <link rel="stylesheet" href="css/index.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Gmarket Sans TTF:wght@300;500;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Fredoka:wght@500&display=swap"
    />
  </head>
  <body>
    <div class="main-frame">
      <img class="dimilogo-1-icon" alt="" src="image/dimilogo-1@2x.png" />

      <div class="outer-frame">
        <div class="sub-frame">
          <div class="div">
            <span>그래그래 우리는 개쩌는 </span>
            <span class="span">웹플</span>
            <span>이다</span>
          </div>
          <div class="dimigoout-v103">
            <span>DimigoOut </span>
            <span class="v103">v.103</span>
          </div>
        </div>
        <img
          class="outer-frame-child"
          loading="lazy"
          alt=""
          src="image/line-1.svg"
        />
      </div>
      <div class="main-frame-child"></div>
      <div class="container-frame-parent">
        <div class="container-frame">
          <div class="container-frame-child"></div>
          <div class="container-frame-item"></div>
        </div>
        <b class="b">?</b>
      </div>
      <section class="important-alert-frame">
        <div class="formsbg-parent">
          <div class="formsbg"></div>
          <div class="frame-wrapper">
            <div class="frame-parent">
              <div class="parent">
                <div class="div1">어 오늘 종례 뭐였더라</div>
                <div class="div2">어 오늘 종례 뭐였더라</div>
              </div>
              <div class="alert-bg-frame">
                <h2 class="h2">알림장.</h2>
                <h2 class="h21">알림장.</h2>
              </div>
            </div>
          </div>
          <div class="empty-frame">
            <div class="import-frame">3/ 07</div>
            <div class="frame-a">
              <div class="frame-b">
                <b class="b1">중요</b>
                <input
                  class="input"
                  placeholder="중요"
                  type="text"
                />

                <div class="frame-d"></div>
              </div>
              <div class="frame-b1">
                <b class="b2">중요</b>
                <input
                  class="input1"
                  placeholder="중요"
                  type="text"
                />

                <div class="frame-b-child"></div>
              </div>
              <div class="frame-b2">
                <b class="b3">별로 안 중요</b>
                <input class="input2" placeholder="김민찬 생일" type="text" />

                <div class="frame-b-item"></div>
              </div>
            </div>
          </div>
          <div class="frame-e">
            <div class="frame-f">
              <div class="important-buttons">
                <div class="march-3">
                  <span>March</span>
                  <span class="span1">. 3</span>
                </div>
                <div class="checkmarks-frame-parent">
                  <div class="checkmarks-frame">
                    <div class="instruction-texts">
                      <div class="separators">1</div>
                    </div>
                    <div class="instruction-texts1">
                      <div class="div3">2</div>
                    </div>
                    <div class="instruction-texts2">
                      <div class="div4">3</div>
                    </div>
                    <div class="instruction-texts3">
                      <div class="div5">4</div>
                    </div>
                    <div class="instruction-texts4">
                      <div class="div6">5</div>
                    </div>
                    <div class="instruction-texts5">
                      <div class="div7">6</div>
                    </div>
                    <div class="ellipse-parent">
                      <div class="frame-child"></div>
                      <b class="text">7</b>
                    </div>
                  </div>
                </div>
              </div>
              <div class="frame-g">
                <div class="div9">1</div>
                <div class="container">
                  <div class="div10">1</div>
                </div>
                <div class="frame">
                  <div class="div11">1</div>
                </div>
                <div class="frame-div">
                  <div class="div12">1</div>
                </div>
                <div class="div13">1</div>
                <div class="wrapper1">
                  <div class="div14">1</div>
                </div>
                <div class="main-content-frame-wrapper">
                  <div class="main-content-frame">1</div>
                </div>
              </div>
              <div class="frame-g1">
                <div class="div15">1</div>
                <div class="wrapper2">
                  <div class="div16">1</div>
                </div>
                <div class="wrapper3">
                  <div class="div17">1</div>
                </div>
                <div class="wrapper4">
                  <div class="div18">1</div>
                </div>
                <div class="div19">1</div>
                <div class="wrapper5">
                  <div class="div20">1</div>
                </div>
                <div class="wrapper6">
                  <div class="div21">1</div>
                </div>
              </div>
              <div class="frame-g2">
                <div class="div22">1</div>
                <div class="wrapper7">
                  <div class="div23">1</div>
                </div>
                <div class="wrapper8">
                  <div class="div24">1</div>
                </div>
                <div class="wrapper9">
                  <div class="div25">1</div>
                </div>
                <div class="div26">1</div>
                <div class="wrapper10">
                  <div class="div27">1</div>
                </div>
                <div class="wrapper11">
                  <div class="div28">1</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="where-to-go-frame-wrapper">
          <div class="where-to-go-frame">
            <div class="room-checklist">
              <div class="formsbg1"></div>
              <div class="donot-like-it">
                <div class="cleaning-area-check">
                  <div class="div29">아 하기싫다</div>
                  <h2 class="h22">청소구역 확인.</h2>
                </div>
              </div>
              <img
                class="image-3-icon"
                loading="lazy"
                alt=""
                src="image/image-3@2x.png"
              />
            </div>
            <div class="room-checklist1">
              <div class="formsbg2"></div>
              <div class="div30">어디로 가야하오</div>
              <div class="group">
                <h2 class="h23">자리배정.</h2>
                <img
                  class="image-4-icon"
                  alt=""
                  src="image/image-4@2x.png"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="form-background">
          <div class="unwanted-area">
            <div class="march-frame">
              <div class="div31">여기 쓸게 없다</div>
              <div class="image-frame">
                <h2 class="h24">우리반에 버튜버있다 .</h2>
                <div class="div32">ㄷㄷ 1학년이 개발했다</div>
              </div>
            </div>
          </div>
          <div class="love-message">
            <div class="background-form">
              <b class="b4">방명록</b>
              <div class="dimigo-out-text">
                <div class="div33">마크 탑 김무준</div>
                <div class="div34">디미고인 개느리네</div>
                <div class="div35">
                  <span>김소은 개</span>
                  <span class="span2">천재</span>
                </div>
                <div class="div36">개발자 존잘</div>
                <div class="div37">너를 사랑해</div>
                <div class="div38">디미고 탈출은 지능순</div>
                <div class="c-is-better">C is better than PY</div>
                <div class="html">Html은 프로그래밍 언어다</div>
              </div>
            </div>
          </div>
          <div class="form-b-g-rectangle">
            <div class="formsbg3"></div>
            <img
              class="exit-vector-icon"
              loading="lazy"
              alt=""
              src="image/vector.svg"
            />
          </div>
          <h1 class="dimigoout">DimigoOut</h1>
        </div>
      </section>
    </div>

    <script>
      document.getElementsByClassName("room-checklist1")[0].addEventListener("click", (event) => {
        location.href = "/seat_change";
      })
    </script>
  </body>
</html>
