<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <title>DimigoOut</title>

<!--    font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap">
    <link rel="stylesheet" href="./GmarketSansMedium.woff" />

<!--    jquery-->
    <script src="//code.jquery.com/jquery-3.4.1.min.js"></script>

    <link rel="stylesheet" href="css/newGlobal.css">
    <link rel="stylesheet" href="css/new.css">
</head>
<body>
    <div class="container">
        <div class="title">
            <div class="subtitle">
                그래그래 우리는 개쩌는 <span class="highlight">웹플</span>이다
            </div>
            <div class="maintitle highlight">
                DimigoOut <span class="version">v.103_beta</span>
            </div>
        </div>
        <div class="menu">
            <div class="menu_element aligner"></div>
            <div class="menu_element menu_element-container _1">
                <div class="menutitle alim">
                    <div class="subtitle">어 오늘 종례 뭐였더라</div>
                    <div class="maintitle highlight">알림장</div>
                </div>
                <br>
                <div class="menutext">
<!--                    <span class="date" th:text="${#calendars.format(#calendars.createNow(), 'yyyy년 MM월 dd일 ')}"></span>-->
                    <span class="date" th:text="|마지막 수정일자: ${alim.getDate()}|"></span>
                    <textarea name="alim" id="alim" class="noticement_area" th:text="${alim.getText()}"></textarea>
                </div>
            </div>
            <div class="menu_element menu_element-container _2">
                <div class="menu_element menu_element-container _1" id="full_screen-btn">
                    <div class="menutitle alim">
                        <div class="subtitle">언제...끝나.....?</div>
                        <div class="maintitle highlight">일과 알리미</div>
                    </div>
                    <div class="time_show">
                        <div class="grouper">
                            <div class="current"></div>
                            <div class="progress_bar"><div class="timeLeft"></div><div class="inner_progress_bar">&nbsp;</div></div>
                        </div>
                    </div>
                    <div class="notth3dev_timer">
                        <iframe src="/public/timer_core" frameborder="0" id="notth3dev_timer"> </iframe>
                    </div>
                </div>
                <div class="menu_element menu_element-container _2" id="seat_btn">
                    <div class="menutitle seat_list">
                        <div class="subtitle">어디로 가야하오</div>
                        <div class="maintitle highlight">자리배정</div>
                    </div>
<!--                    <span class="image image_seat">a</span>-->
                </div>
            </div>
            <div class="menu_element menu_element-container _3">
                <div class="menutitle alim">
                    <div class="subtitle">이름 이상하게 쓰고 나가면 죽는다</div>
                    <div class="maintitle highlight" id="checkLog-btn">외출록</div>
                </div>
                <div class="selection_container">
                    <!--                        방과후, 기타, 물/화장실, 동아리-->
                    <div class="status_selection type_water">
                        <label class="label type_water" for="input_reason-1">
                            <div class="text type_water">물 / 화장실</div>
                        </label>
                        <div class="input_reason type_water"><input type="text" name="input_reason" class="input type_water" id="input_reason-1"></div>
                    </div>
                    <div class="status_selection type_afterClass">
                        <label class="label type_afterClass" for="input_reason-2">
                            <div class="text type_afterClass">방과후</div>
                        </label>
                        <div class="input_reason type_afterClass"><input type="text" name="input_reason" class="input type_afterClass" id="input_reason-2"></div>
                    </div>
                    <div class="status_selection type_club">
                        <label class="label type_club" for="input_reason-3">
                            <div class="text type_club">동아리</div>
                        </label>
                        <div class="input_reason type_club"><input type="text" name="input_reason" class="input type_club" id="input_reason-3"></div>
                    </div>
                    <div class="status_selection type_etc">
                        <label class="label type_etc" for="input_reason-4">
                            <div class="text type_etc">기타</div>
                        </label>
                        <div class="input_reason type_etc"><input type="text" name="input_reason" class="input type_etc" id="input_reason-4"></div>
                    </div>
                </div>
            </div>
            <div class="menu_element aligner"></div>
        </div>
    </div>
    <script src="js/global.js"></script>
    <script src="js/new.js"></script>
    <script>
        initialize()
    </script>
</body>
</html>